.jumbotron

    .h2.text-center Welcome in Eurobank recruitment system
    .row
    =link_to 'Sign in', new_user_session_path, class: 'btn btn-primary btn-lg'
    =link_to 'Jobs', jobs_path, class: 'btn btn-primary btn-lg'
