.jumbotron
    .h2 Welcome in Eurobank recruitment system
    =link_to 'Sign in', new_user_session_path, class: 'btn btn-primary btn-lg'
    =link_to 'Jobs', root_path, class: 'btn btn-primary btn-lg'
