.jumbotron
    .h2.text-center Eurobank recruitment
    .p.text-center Welcom in Eurobank recruitment system built in Ruby on Rails framework.
    %br
    .p.text-center= link_to 'Jobs', jobs_path, class: 'btn btn-danger btn-lg'
