.jumbotron
    .h2.text-center Eurobank recruitment
    .p.text-center Welcom in Eurobank recruitment system built in Ruby on Rails framework.
    =link_to 'Recruter', new_user_session_path, class: 'btn btn-primary btn-sm btn-block'
    =link_to 'Jobs', jobs_path, class: 'btn btn-default btn-sm btn-block'
