.jumbotron
    .h2.text-center Jobs in Eurobank
    .h3.text-center Welcome in Eurobank recruitment system built in Ruby on Rails framework.
    .p.text-center= link_to 'Jobs', jobs_path, class: 'btn btn-danger btn-md btn-block'
