.container
  %ul.nav.navbar-nav
    %li= link_to "All Jobs", jobs_path
    - Category.all.each do |category|
      %li= link_to category.name, jobs_path(category: category.name)
#jobs
  - @jobs.each do |job|
    .job
      %h2= link_to job.title, job
  -if user_signed_in?
    #links
      =link_to 'New Job', new_job_path, class: 'btn btn-default'
